P {
	font-size: 15pt; color: green; font-family: "Verdana CE", 
	Verdana, "Arial CE", Arial, Helvetica, sans-serif; 
	text-decoration: none; text-align: justify; 
	margin-bottom: 2px; font-weight: normal;
  }

H5{	font-size: 8pt; color: gray; 
	font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; 
	text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;
  }
  
  #tresc{
  border-style: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FFE1BE;
  border-top-width: 0px;
  margin: auto;
  width: 90%;
  padding: 10px;  
  }
  
  table {
  max-height: 100px}
  
  header{
  border-style: solid;
  border-bottom-width: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  width: 90%;
  padding: 10px;  
  text-align: center;
  background-color: #FFE1BE;
  }
  
  /* MENU */

#MojeMenu{
	border-style: solid;
    background-color: #FFE1BE;
    border-bottom-width: 0px;
    border-top-width: 0px;
	width: 90%;
	margin: auto;
  	padding: 10px;  
  	height: 70px;
  	align-items: center;
  	display:flex;
  	justify-content:center
}

ul li {
	display: block;
	list-style: none;
	margin: auto;
	padding: 10px;
	text-align: center;
	float: left; 
}


#MojeMenu ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 120px;
	text-align: center;
	background-color: #990033;
	border-radius: 12px;
	font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif;
	color: #000;
	border: 2px outset #999999;
	padding: 5px;
	margin: auto;
}

#MojeMenu ul a:hover {
	border-style: inset;
	padding: 7px 3px 3px 7px;
}
#przycisk {
    background-color: lightblue;
   text-align: center;   
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

/* MENU koniec */